extends layout
block content
	p= content
	p= 'IP adress ' + clientInfo.ip
	p= 'User agent: ' + clientInfo.userAgent
	img.className#IdName(src="http://www.karday.ru/media/2017/04/13/gr11-large.jpg" alt="Image Title")