extends layout
block content
	form(method='post' action='/chat')
		fieldset
			.form-group
				label(for='message') Write a message
				input#message.form-control(name='message' type='text')

			.form-group
				button.btn.btn-primary(type='submit') Send
	pre= content