extends layout
block content
	form(method='post' action='/login')
		fieldset
			.form-group
				label(for='name') Имя:
				input#name.form-control(name='name' type='text')

			.form-group
				button.btn.btn-primary(type='submit') Add